body
{
    overflow: auto;
    margin: 0;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    
}
*, ::after, ::before {
    box-sizing: border-box;
}
.col-1 {width: 5.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




.social-media{
padding: 0;
margin: 0;
position: fixed;
right: -116px;
top: 250px;
width: 160px;
z-index: 1100;

   
}
.social-media a{
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #41a8d3;
    
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: .3s;
}

.social-media a:hover{
    color: white;
    background-color: #41a8d3;
}

.fab
{
    margin-left: -11px;
    margin-top: 10px;
}
   #sticy
   {
    width: 30px;
    height: 30px;
    margin-right:18px;
    float: right;
    margin-top: 12px;
    
   }

#logo
{
    width: 250px;
    height:auto;
    
}
.navbar
{
    font-size: 15px;
    width: 100%; 
    
}

.navbar {
    background-color: transparent !important;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.navbar.alt-color {
    background-color: #2a3666 !important;
}
.navbar li>a{
    font-family:  myOwnFont;
    font-size: 15px;
    color: white;
    
}
.navbar li>a:active{
    font-family:  myOwnFont;
    font-size: 15px;
    color: #317d9d;
    
}
nav
{
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all .5s;
    z-index: 997;
}
  
.head
{
   
    font-weight: 400; 
    font-family: myOwnFont;
    padding-top: 140px;
    
    
}
#head1
{
    font-family:  myOwnFont2;
    font-size: 3vw;
    font-weight: 100; 
    color: white;
   
}
#head2
{
    font-family:  myOwnFont2;
    font-size: 2vw;
    font-weight: 100; 
    color: white;
    margin-left: 20px;
}

#header
{
    height: 500px;
    background-size: cover;
    height: 580px;
    box-shadow: inset 0px 0px 300px 250px rgba(22, 22, 22, 0.9)
}

#about{
    width: 100%;
    height: auto;
    position: relative;
    background-attachment: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    box-shadow: inset 0px 0px 350px 350px rgba(255, 255, 255, 0.9)
    }
    



#about_content
{
    width: 1100px;
    height: 296px;
    text-align: center;
   
}
#about1
{
    font-size: 32px;
    color: #111;
    font-weight: 700;
    position: relative;
    font-family:  myOwnFont2;
    margin-top: 50px;
}
#p1
{
    font-size: 1rem;
    font-weight: 400;
    font-family:  myOwnFont2;
    color: #333;

}
#card_span
{
    font-weight: 700;
    font-size: 20px;
    font-family:  myOwnFont2;
}
#card_p
{
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px;
}
#card_img
{
    width: 100%;
    height: 40%;
}
#our
{
    padding-bottom: 20px;
    color: #333;
    font-family:  myOwnFont2;
    font-size: 1rem;
}
#div_logo
{
    width: 11%;
    height: 8%;
}
#div_logo1
{
    width: 11%;
    height: 17%;
}
#div_logo2
{
    width: 14%;
    height: 16%;
}
#div_logo3
{
    width: 13%;
    height: 21%;
}
#div_head
{
    margin-left: 65px;
    font-family:  myOwnFont2;
    font-size: 1.2rem;
    color: #111;

}
#div_p
{
    font-size: 14px;
    margin-left: 60px;
    line-height: 24px;
    margin-bottom: 0;
    color: #666666;
}
#services
{
    font-family:  myOwnFont2;
    font-size: 2rem;
    color: white;
    width: 100%;
}
#content1
{
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 90px;
    font-family:  myOwnFont2;
    font-size: 1rem;
    justify-items: stretch;
}
#switch
{
    cursor: pointer;
    font-family:  myOwnFont2;
    font-size: 1rem;
    color: #3563ad;
    font-size: 17px;

}
#switch:hover
{
    color: white;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
#Portifolio1
{
    position: relative;
    
    
}
#Portifolio1:hover .middle
{
opacity:1;

}
#center_card:hover 
{
    opacity: 0.1;
}
#center_card
{
    width:100%;
    padding: 0;
    margin: 0;
    height: 38%;
    padding-top: 20px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
#contact_logo:hover
{
    border: 1px solid black;
    background-color: white;

}
.middle:hover
{
    background-color: #159cd3;
}

#text
{
      
    color: black;
    font-size: 16px;
    
}
#text:hover
{
    color: white;
    
    
}
#keep
{
    text-align: center;
    padding-bottom: 30px;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    font-family:  myOwnFont2;
}
#contact_logo
{
    width: 5%;
    height: 6%;
    background-color: #2a3666;
    font-size: 1.3vw;
}
#fa
{
    color: gray;
    margin-left: 20%;
    margin-top: 15%;
}
#contact{
    font-weight: bolder;
    font-family:  myOwnFont2;
    color: #666666;
    font-size: 17px;
    padding-left: 10px;
}
#links
{
    font-family:  myOwnFont2;
    color: #41a8d3;
    font-size: 75%;

}
#links:hover
{
    font-family:  myOwnFont2;
    color: forestgreen;
}
.resp-iframe
{
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: 25em;
    border: 0;
    background-color: #666666;
    margin-top: 20px;
}
#footer
{
    background: #2a3666;
    padding: 17px 0 20px;
    color: #eee;
    font-size: 14px;
    
}
.back-to-top
{position: fixed;
    
    background: #2a3666;
    color: #fff;
   
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 13px;
    z-index: 11;

}

.carousel-indicators li {
    width: 10px!important;
  height: 10px!important;
  border-radius: 50%;
}

/* override position and transform in 3.3.x */
    
.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
